.ant-carousel .slick-slide {
    display: flow-root;
    text-align: center;
    height: 700px;
    line-height: 500px;
    background: #364d79;
    overflow: hidden;
}

img {
    width: 100%;
    height: 100%;
}

.ant-carousel {
    display: flow-root;
    border: 0px;
}

.ant-carousel .slick-slide h3 {
    color: #fff;
    font-size: 60pt;
    overflow: hidden;
}

.ant-carousel .slick-slide .firstPage h2 {
    font-size: 70pt;
    position	: absolute;
    top		: 150px;
    left		: 0;
    width		: 100%;
}

.head h1 {
    text-align: center;
    font-weight: bold;
    color: #ffffff;
    font-size: 32px;
}

.head {
    display: flow-root;
    background: black;
}
